header {
  width: 100%; /* Das ist entscheidend für space-between */
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px; /* Ein bisschen Padding für die Seiten */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.header-nav h2 {
  font-size: 32px;
}

.header-nav span {
  opacity: 0.8;
  font-weight: bold;
}

#search {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  width: 250px;
  outline: none;
}
