* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#pokedex {
  background-color: rgb(28, 28, 28);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
  flex: 1; /* füllt den restlichen Platz */
  overflow-y: auto; /* Scroll nur hier */
  padding: 10px;
}

/* Karten */
#pokedex li {
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  height: 140px;
  width: 140px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

#pokedex li:hover {
  transform: scale(1.1);
  background-color: #e0f7fa;
}

#pokedex li img {
  display: block;
  margin: 10px auto 0 auto;
  width: 80px;
  height: 80px;
}

/* Flex Wrap entfernen bei Suche */
#pokedex.no-wrap {
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  overflow-y: auto; /* Modal scrollt nur intern */
}

.modal-content {
  background: #000000;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  max-width: 800px;
  text-align: center;
  position: relative;
}

#modal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Evolution Chain */
.evolution-chain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

.evo-card {
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  text-align: center;
}

.evo-card img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 5px auto;
}

.evo-stats {
  list-style: none;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

h2 {
  color: white;
}
